@font-face {
  font-family: titles_proxima_nova;
  src: url(font/proxima_ssv/ProximaNova-Regular.otf);
}
@font-face {
  font-family: body_proxima_nova;
  src: url(font/proxima_ssv/Proxima\ Nova\ Alt\ Light.otf);
}
body{
  font-family: body_proxima_nova;
  margin: 0;
  width: 100%;
}
h1 {
  font-family: titles_proxima_nova;
}
#sCode, #sCode p {
  font-family: monospace;
}
#stack, #queue, #list {
  display: none;
}
.dsGrid{
  display: grid;
  grid-template-columns: auto auto auto;
}
nav ul li{
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  height: 3ex;
  padding: 2% 5%;
}
#sTail, #sHead{
  display: none;
  color:red;
}
